<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title><Pagebase></title>
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="#">
<link rel="stylesheet" href="/style.css">

<link rel='stylesheet' id='gravit-google-font-css'  href='http://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700%2C400italic%7COpen+Sans%3A400%7CRoboto%7CLustria%3A400%2C700&#038;ver=3.8.5' type='text/css' media='all' />
<link rel='stylesheet' id='gravit-font-awesome-css'  href='/css/font-awesome.min.css?ver=3.8.5' type='text/css' media='all' />

<style type='text/css'>

        .site-info {
            color: #808080;
        }

		.post-symbol, .post-symbol a, #menu-toggle { 
			color: #ef3636!important;
		}
        
		.site-info a {
			color: #c2c2c2;
		}

        .site-title a {
        color: #4B4A47; 
    	}

        .about-me {
        	background-color: #ffeaea; 
        }
</style>

<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>

</head>

<body class="single single-post postid-275 single-format-standard custom-background">

<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		
			<nav id="site-navigation" class="main-navigation" role="navigation">
			</nav><!-- #site-navigation -->


		<div class="menu-mobile">
			<div class="site-branding-mobile">
				<h1 class="site-title"><a title="PageBase" href="#" rel="home">PageBase</a></h1>
			</div>
	  				<div id="menu-toggle">
	  					<i class="fa fa-bars"></i>
   					</div>
	  				<nav id="site-navigation-mobile" class="main-navigation" role="navigation">
					</nav><!-- #site-navigation-mobile -->
	  	</div>

	</header><!-- #masthead -->

	<div id="content" class="site-content">
		<div class="thumbnail-wrap">
			<a href="/"><img alt="PageBase" title="PageBase" class="header-image" src="/static/2015/10/rr-logo.png" width=1920 height=400/></a>

		</div>

	</div>
		<div class="site-info">
			{{range .}}
				<a href="{{ .Link }}">{{ .Title }}</a>
			{{end}}
		<div>


