{{range .}}
<article id="#">
	<div class="thumbnail-wrap">
		 <a href="#">
 		 </a>
 	</div>

	<header class="entry-header">

		<div class="post-symbol">
			<i title="Standard Post" class="fa fa-thumb-tack"></i>
		</div>

		<h1 class="entry-title">
			<a href="/archive/{{.Permalink}}" rel="bookmark">{{.Title}}</a>
		</h1>
		
	</header><!-- .entry-header -->

	<div class="entry-content">
		{{.Body}}
		<span class="meta-nav"><i class="fa fa-chevron-circle-right"></i></span>
	</div><!-- .entry-content -->
</article><!-- #post-## -->
<div class="post-item-divider">
	<i class="fa fa-angle-up"></i>
	<i class="fa fa-angle-down"></i>
	<i class="fa fa-angle-up"></i>
	<i class="fa fa-angle-down"></i>
	<i class="fa fa-angle-up"></i>
	<i class="fa fa-angle-down"></i>
	<i class="fa fa-angle-up"></i>
	<i class="fa fa-angle-down"></i>
</div>

{{end}}
