body {
  font-family:Verdana;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#header {
    background-color:#f8f8f8;
    color:#b8b8b8;
    text-align:left;
    padding:1px;
}
#nav {
    font-family:Verdana;
	font-size: 12px;
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:120px;
    float:left;
    padding:1px; 
}

#search {
    font-family:Verdana;
	font-size: 12px;
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:160px;
	float:right;
    padding:1px; 
}


#p-edit-head {
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
	background-color: #cecece;
}


#pl-row-head {
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	margin: 1px;
	background-color: #cecece;
}

#pl-row-elem {
	font-size: 12px;
	padding: 2px;
	margin: 1px;
	background-color: #eeeeee;
}


#pl-col-title {
	display:inline-block;
	width:40%;	
	vertical-align:top;
	font-size: 12px;
}
#pl-col-posted {
	display:inline-block;
	width:18%;	
	vertical-align:top;
	font-size: 12px;
}

#pl-col-tags {
	display:inline-block;
	width:20%;	
	vertical-align:top;
}
#pl-col-cats {
	display:inline-block;
	width:20%;			
	vertical-align:top;
}

#pl-elem-title {
	display:inline-block;
	width:40%;	
	vertical-align:top;
}
#pl-elem-posted {
	display:inline-block;
	width:18%;	
	vertical-align:top;
}
#pl-elem-tags {
	display:inline-block;
	width:20%;	
	vertical-align:top;
}
#pl-elem-cats {
	display:inline-block;
	width:20%;			
	vertical-align:top;
}




#menuhead {
	font-weight: bold;
	margin-left: 5px;
	padding: 5px;
}

#menupoint {
	margin-left:10px;
}

#section {
    width:75%;
    float:left;
    padding:5px; 
}
#footer {
    background-color:#f8f8f8;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
}
