 <form action="/admin/imagesave" method="post" enctype="multipart/form-data">
 <input type="text" name="title">
 <label for="file">Filename:</label>
 <input type="file" name="file" id="file">
 <input type="submit" name="submit" value="Submit">
 </form>

 </body>
 </html>
