<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="row placeholders">
    	<div class="col-xs-6 col-sm-9 placeholder">
      		<div class="table-responsive">
        	  <table class="table table-striped">
          		<thead>
            	<tr>
              		<th>View</th>
              		<th>Tag filter</th>
              		<th>Category filter</th>
            	</tr>
          		</thead>
				<tbody>
				<form method="post" action="/admin/vieweditmod">
				<tr>
					<th>Root (/)</th>
					<th>
						<select name="root_view_tag_filter">
							<option value=-1>No filtering</option>
							{{ range $i, $t := index .ExtData "Tags" }}
							<option value={{ .Id }}>{{ .Value }}</option>
							{{end}}
						</select>
					</th>
					<th>
						<select name="root_view_cat_filter">
							<option value=-1>No filtering</option>
							{{ range $i, $t := index .ExtData "Cats" }}
							<option value={{ .Id }}>{{ .Value }}</option>
							{{end}}
						</select>
						</th>
				</tr>
				<tr>
					<th>Grid</th>
					<th>
						<select name="grid_view_tag_filter">
							<option value=-1>No filtering</option>
							{{ range $i, $t := index .ExtData "Tags" }}
							<option value={{ .Id }}>{{ .Value }}</option>
							{{end}}
						</select>
					</th>
					<th>
						<select name="grid_view_cat_filter">
							<option value=-1>No filtering</option>
							{{ range $i, $t := index .ExtData "Cats" }}
							<option value={{ .Id }}>{{ .Value }}</option>
							{{end}}
						</select>
						</th>
				</tr>
				</tobody>
			  </table>
			  <div><input type="submit" value="Save changes"></div>
		  	  </form>
			</div>
		  </div>

		</div>
	</div>
