<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="row placeholders">
    	<div class="col-xs-6 col-sm-5 placeholder">
			<h1>Tags</h1>
				<form method="post" action="/admin/tagcatadd?mode=tag">
          		<div class="table-responsive">
            	  <table class="table table-striped">
              		<thead>
                	<tr>
                  		<th>Name</th>
                  		<th>Used in posts</th>
                  		<th>Delete</th>
                	</tr>
              		</thead>
              	  	<tbody>

					{{ range $i, $t := index .ExtData "Tags" }}
					<tr>
						<th>{{ .Value }}</th>
						<th></th>
						<th></th>
					</tr>
					{{end}}
              		</tbody>
            	  </table>
          		</div>
				<div><input type="text" name="tag"></input></div>
				<div><input type="submit" value="add"></input></div>
			</form>
		</div>

    	<div class="col-xs-6 col-sm-5 placeholder">
			<h1>Categories</h1>
				<form method="post" action="/admin/tagcatadd?mode=cat">
          		<div class="table-responsive">
            	  <table class="table table-striped">
              		<thead>
                	<tr>
                  		<th>Name</th>
                  		<th>Used in posts</th>
                  		<th>Delete</th>
                	</tr>
              		</thead>
              	  	<tbody>

					{{ range $i, $t := index .ExtData "Cats" }}
					<tr>
						<th>{{ .Value }}</th>
						<th></th>
						<th></th>
					</tr>
					{{end}}
              		</tbody>
            	  </table>
          		</div>
				<div><input type="text" name="cat"></input></div>
				<div><input type="submit" value="add"></input></div>
			</form>
		</div>
	</div>
</div>