        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>Recent posts:</h4>
              <span class="text-muted">
              <ul>
              <li>one</li>
              <li>two</li>
              </ul>
              </span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>Stats:</h4>
              <span class="text-muted">Post count: {{.stat_post_count}}</span>
            </div>
          </div>

          <h2 class="sub-header">System Information</h2>
          	<div class="table-responsive">
                  <table class="table table-striped">
              <tr><td>OS version:</td><td>{{.stat_os_version}}</td></tr>
              <tr><td>Go version:</td><td>{{.stat_go_version}}</td><td>
              <tr><td>Go allocated memory:</td><td>{{.stat_go_alloc}}</td><td>
              <tr><td>MySQL version:</td><td>{{.stat_mysql_version}}</td><td>
              </table>
        		</div>
	        