<head>
	<link rel="stylesheet" href="/style.css">
</head>
<body>

<div id="header">
<h1>Welcome to PageBase</h1>
</div>

<div id="nav">
<div><a href="/admin/posts">Posts</a></div>
<div><a href="admin/post_add">Add Post...</a></div>
<div>Categories</div>
<div>Tags</div>
</div>

<div id="section">
<h1>Your Posts</h1>
{{range .}}
<div id="post_title">
{{.Title}} 
</div>
<div id="post_body">
{{.Body}}
</div>
</p>
{{end}}
</div>

<div id="footer">
Copyright © PageBase
</div>

</body>
