        <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">All posts</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">

				<h1>Editing {{.Title}}</h1>

				<form action="/save/{{.Title}}" method="POST">
					<div><textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea></div>
					<div><input type="submit" value="Save"></div>
				</form>
			</div>
			
			