<div id="section">
<h1>Tags</h1>

<div id="pl-row-head">
		<div>Name</div>
		<div>Used in post</div>
		<div>Delete</div>
</div>

{{range .}}
<div id="pl-row-elem">
	<div id="pl-elem-title">{{.Name}}</div>
    <div id="pl-elem-posted">{{.Used}}</div>
	<div id="pl-elem-title"><a href="/admin/delete_tag?id={{.Id}}">X</a></div>
</div>			
{{end}}
</div>