<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<title>NeonTimeTravel - everything we love about the 80s</title> 
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />

<link rel='stylesheet' id='wp-block-library-css'  href='/css/dist/block-library/style.min.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='multi-color-sub-css'  href='/css/multicolor-subscribe-widget.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='google-lato-font-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C500%2C700%2C900&#038;ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='problogg_flexslider_style-css'  href='/css/flexslider.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='problogg_slicknav_style-css'  href='/css/slicknav.min.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='problogg_style-css'  href='/css/style.css?ver=5.0.3' type='text/css' media='all' />
<script type='text/javascript' src='/js/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='/js/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js?ver=5.0.3'></script>
<script type='text/javascript' src='/js/masonry.pkgd.min.js?ver=5.0.3'></script>
<script type='text/javascript' src='/js/jquery.flexslider-min.js?ver=5.0.3'></script>
<script type='text/javascript' src='/js/jquery.infinitescroll.js?ver=5.0.3'></script>
<script type='text/javascript' src='/js/jquery.slicknav.min.js?ver=5.0.3'></script>
<script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>
<meta name="generator" content="Bluefish 2.2.9" />
</head>


<body class="home blog">
	<header id="head">
		<div class="head-top">		
			<div class="container">
				<div class="head-nav">
					{{.Menu}}	
				</div>
				<div class="head-search">
					search form
				</div>
				<div class="head-socials">
					<ul>
						<li><a target="_blank" href="url"><img src="/images/social.png" alt="social" /></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="head-logo">
			<div class="container">
				<div class="logo">
					Logo IMG
				</div>
			</div>
		</div>
	</header>
	
	
	
