 <div class="content">
	<div class="container">
		<div class="post_content">
			<div class="home_posts">
				{{range .}}
				<div class="grid_post">
						<h3><a href="/archive/{{.Permalink}}">{{.Title}}</a></h3>
						<div class="grid_post_img">
							<a href="/archive/{{.Permalink}}">Thumbnail</a>
						</div>
				<div class="grid_home_posts">
					<p>{{.Body}}</p>
					<p>Tags: 
					{{range .Tags}}
					{{.}},
					{{end}}
					</p>
				</div>
			</div>
			{{end}}
		</div>
	</div>
	
<!-- container div is closed in footer -->
