
 	<div class="content">
	<div class="container">
		<div class="post_content">
			<div class="home_posts">

				{{range .}}

							<div class="grid_post">
									<h3><a href="Permalink">{{.Title}}</a></h3>';
									<div class="grid_post_img">
										<a href="Permalink">Thumbnail</a>
									</div>
							<div class="grid_home_posts">
								<p>{{.Body}}</p>
							</div>
						</div>
				{{end}}

		</div>
		<span id="max-pages" style="display:none"><?php echo $max_pages ?></span>
		</div>
		Sidebar code
		<div class="clear"></div>
	</div>
	</div>
